<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h1 class="">WELCOME USER</h1>
    <div class="row">
        <div class="div-2"></div>
        <div class="div-2">
            <a href="{%url 'add-song'%}" class="btn btn-danger">ADD SONG</a>
            <a href="{%url 'usr-listsong'%}" class="btn btn-primary">LIST SONG</a>
            <a href="{%url 'usr-listartits'%}" class="btn btn-danger">LIST ARTISTS</a>

        </div>
        <div class="div-2"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4 col-md-2 col-lg-4 mb-3 mb-md-0">
            {%for song in songs%}
            <div class="card text-bg-danger mb-3" style="max-width: 18rem; display:inline-block">
                <img src="{{request.user.cover_pic.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">SONG NAME:{{song.name}}</p>
                    <p class="card-text">DATE RELEASED:{{song.dateofrelease}}</p>
                    <p class="card-text">RATE:{{job.qualification}}</p>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

</body>
</html>